@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kanit&family=Questrial&family=Sen:wght@700&family=Varela+Round&display=swap');


/* Body */

body{
	transition: 1s ease-in-out;
	
}

html{
	scroll-behavior: smooth;
}

section > div {
	margin: 3% 3%;
}

/* MODO NOTURNO */

.dark{
	background-color: rgb(4, 5, 15);
	color: #e6e6e6;
	transition: 1s;
}

.dark h1, .dark h2, .dark p{
	color: #e5e5e5;
}

.dark .modal-content p{
	color: #141414;
}

.dark .ReadMore{
	color: #742e2e;
}

.dark .ReadMore:hover{
	color: #421717;
}


.dark a{
	color: #742e2e;
}







/* Tags de texto */
h1, h2, h3 {
	font-family: 'Kanit', sans-serif;
    text-align: center;
}

p, label, .dark .modal-content p, figcaption{
    color: #141414;
    font-size: 20px;
	font-family: 'Questrial', sans-serif;
}

label{
	font-size: 1.1em;
	color: rgb(20, 20, 20, 0,7);

}

h1, .dark .modal-content h1{
    font-size: 30px;
	color: #3459b7;
}

h2{
	font-size: 25px;
	color: #b73434;
}

h3{
	font-size: 20px;
}

.main > div:first-child > h2{
	font-size: 250%;
	font-weight: 600;
}

.col,figure img{
	text-align: center;
}

.col > h3{
	color: rgb(20, 20, 20);
	margin-bottom: 30%;
}

.col > h2{
	margin-bottom: 25%;
}

figure:first-child p{
	color: #b73434;
} 










/* Tag Link */

a {
	transition: .5s;
	color: #093e85;
	text-decoration: none;
}

a:hover {
	opacity: .5;
	text-decoration: underline;
	
}

.a-active {
	text-decoration: underline rgb(255, 255, 255);
}










/* Header and footer */
.footer {
    background-color: #0C0311;
	background-image: url('../img/universo.jpg');
	padding: 2%;
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	line-height: 2;
}

.footer ul{
	display: flex;
}

.footer ul li{
	margin: 0 15px;
	font-size: 1.2em;
}

.footer ul li a:hover{
	opacity: 0.5;
	transition: .5s;
}

footer p{
	color: #fff;
}










/* Divisão de Float */


.float figure{
	float: right;
	margin-left: 30px;
}


.float img{
	float: right;
	margin-left: 40px;
}


.float-left img{
	float: left;
	margin-right: 5%;
}



.img-float{
	width: 20%;
	height: auto;
}

.float-left > button{
	float: right;
}

#mais, #mais2{
	display: none;
}


.ReadMore{
	background-color: transparent;
	color: blue;
	font-size: 1.2em;
	border: none;
	transition: .2s;
	margin-top: 8px;
	padding: 10px;
}

.ReadMore:hover{
	color: rgb(101, 101, 250);
}



/* ARTIGO CONTENT */
.artigo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article{
	display: flex;
	margin: 60px 0;
}

.artigo .article img {
	width: 550px;
	height: auto;
	border-radius: 3px;
}



.artigo .article:not(.article:nth-child(2)) img{
	margin-right: 40px;
}

.artigo .article:nth-child(2) img{
	margin-left: 40px;
}

.artigo .article:first-child p{
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}

.artigo .article:first-child p:first-child{
	font-family: 'Calligraffitti';
}



.ajuda-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ajuda-container figure figcaption{
	
	float: right;
	max-width: 300px;
	
}


.ajuda-container figure img{
	float: right;
	width: 300px;
	height: 300px;
	border-radius: 3px;
	margin-top: 20px;
}



.ajuda-container .interview div {
	margin: 30px 0;
}


.ajuda-container div h2{
	text-align: start;
}

.ajuda-container div p{
	max-width: 600px;
}






/* MODAL */

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

	#modal-img{
		width: 20%;
		border-radius: 50%;
		pointer-events: none;
	}


  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	height: 450px;
	animation-name: animatetop;
 	animation-duration: 0.4s
  }

  @keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
  }

  
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }









/* responsivo: Mobile Menu */
.mobile-menu {
	cursor: pointer;
	display: none;
}

.mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
	background-color: black;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}











/*	IMAGES	*/

figure{
	text-align: center;
}

figure > img{
	pointer-events: none;
}

.float > img{
	pointer-events: none;
}

.col div > img{
	border-radius: 50%;
	cursor: pointer;
}

.col div > img:hover{
	transition: .6s;
	opacity: .3;
	filter: blur(2px);
}

.col div > span i{
	display: none;
}


.col div > img:hover + span i{
	display: block;
	pointer-events: none;
}

.col div{
	position: relative;
}

.col div img + span{
	width: 30px;
	height: 30px;
	color: rgb(70, 70, 70);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.col div img + span i{

	font-size: 1.5em !important; 
	justify-content: center;
	align-items: center;

}

.dark .col div img + span i{
	color: rgb(255, 225, 225);
}

.img-history{
	width: 250px;
	height: auto;
}






.form{
	/*background: #d677e9;*/
	background-color: rgba(115, 164, 219, 0.3);
	padding: 15px;
	border: 1px solid rgb(0, 0, 0, 0.1);
	box-shadow: 0 0 2em rgb(0, 0, 0, 0.3);
	border-radius: 2px;
}

.formulario{
	background: #093e85;
	padding: 15px;
	border-radius: 1.5%;
	margin-top: 100px;
}


textarea {
	min-height: 200px;
	padding: 9px 17px;
	border-radius: 5px;
	box-sizing: border-box;
	
}

.inputBox{
	position: relative;
	margin-bottom: 10%;
}

.inputUser{
	background: none;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	width: 100%;
	letter-spacing: 1px;
	color: #fff;
	margin-inline: auto;
}

.labelInput{
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
	color: white;
}

.inputUser:focus ~ .labelInput, .inputUser:valid ~.labelInput{
	top: -20px;
	font-size: 14px;
	color: #8197cf;
}

.formulario > form .btn {
	background-color: #742e2e;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

.formulario form .btn:hover{
	transition: .4s;
	background-color: #2e3e74;
	color: #fff;
}


textarea{
	max-height: 800px;
}

.form-content{
	position: relative;
	margin-top: 10%;
}



.toggleBtn{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	margin: 0 auto;
	border: none;
	border-radius: 100px;
	background-color:rgb(156, 203, 247);
	width: 400px;
	height: 100px;

	
}

.toggleBtn:hover{
	transition: .3s;
	background-color: rgb(127, 167, 204);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.toggleBtn span{
	width: 300px;
	height: 300px;
	color: rgb(250, 250, 250);
	padding: 15px;
	font-size: 24px;
}

.toggleBtn i:hover{
	transition: .3s;
	color: rgb(242, 246, 250);
}
  
  
.contact-text{
	margin-top: 100px;
}

.contact-text ul li{
	font-size: 27px;
}

.contact-text ul{
	display: flex;
	flex-direction: column;
}

.contact-text ul li a{
	color: #113b63;
}

.contact-text ul li a:hover{
	color: #040e1a;
	opacity: 1;
}
/* RESPONSIVO */


@media (max-width: 999px) {
	/*
	.menu {
		position: relative;
		top: 8vh;
		right: 0;
		width: 25vh;
		height: 92vh;

	}
	*/
}

/* Tela menor qu*/


	
/* Tela menor que 999px*/
@media screen and (max-width: 999px){


	.main{
		margin-top: 100px;
	}


	div.float > div button.btn{
		text-align: end;
	}
	.imglogo{
		width: 100px;
	}

	.img-float{
		width: 30%;
	}



	.form{
		display: none;
		flex-direction: column;
		align-items: center;
	}

	.formulario{
		width: 70%;
		text-align: center;
	}
	
	textarea {
		width: 100%;
		height: 200px;
		padding: 9px 17px;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
	}
	
	.formulario > form > div.inputBox{
		margin-bottom: 10%;
	}

	.form-content{
		padding-bottom: 125px;
	}

	#modal-img{
		width: 30%;
	}


	.artigo .article{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.artigo .article div{
		text-align: center;
	}

	.artigo .article img{
		width: 300px;
		height: auto;
		margin-bottom: 20px;
	}

	.artigo-container{
		margin-top: 100px;
	}
	.ajuda-container div:not(.ajuda-container div:nth-child(2)) {
		max-width: 500px;
	}

	.ajuda-container figure img{
		width: 70%;
		height: auto;
	}



}



/*Tela maior que 999px*/
@media screen and (min-width: 999px){
	.main{
		margin: 0% 5%;
		margin-top: 150px;
	}


	/* FORMULÁRIO EM TELAS GRANDES*/
	.form{
		display: none;
		justify-content: space-between;
	}
	
	
	.formulario{
		width: 30%; /* 30% */

	}
	

	
	textarea {
		width: 100%;
	}
	
	.formulario > form > div.inputBox{
		margin-bottom: 10%;
	}
	
	.form-content{
		padding-bottom: 150px;
	}
	
	
	.artigo .article:nth-child(2){
		flex-direction: row-reverse;
	}

	.ajuda-container figure img{
		width: 300px;
		height: auto;
	}

	

}
